__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
Thumbs.db

log/
*.pt
*.pth
*.ckpt

data/edu_fineweb10B/
data/hellaswag/
